---
export interface Props {}

const {} = Astro.props;
---

<div class="bg-gray-100">
    <div
        class="mx-auto max-w-6xl py-16 px-4 sm:px-6 lg:grid lg:grid-cols-3 lg:gap-x-8 lg:py-24 lg:px-8"
    >
        <div>
            <h2 class="text-lg font-semibold text-sky-500">Get notified</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900">
                Individually and supportive
            </p>
        </div>
        <div class="mt-12 lg:col-span-2 lg:mt-0">
            <dl
                class="mt-12 space-y-10 sm:grid sm:grid-flow-row sm:grid-cols-2 sm:grid-rows-3 sm:gap-x-6 sm:gap-y-10 sm:space-y-0 lg:gap-x-8"
            >
                <div class="relative">
                    <dt>
                        <svg
                            class="absolute h-6 w-6 text-orange-500"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"
                            ></path>
                        </svg>
                        <p
                            class="ml-9 text-lg font-medium leading-6 text-gray-900"
                        >
                            Stay hydrated
                        </p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-800">
                        Get a gentle push notification on your smart watch every
                        20 minutes to drink some water from the time you get up
                        until an hour before you go to bed.
                    </dd>
                </div>

                <div class="relative">
                    <dt>
                        <svg
                            class="absolute h-6 w-6 text-orange-500"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"
                            ></path>
                        </svg>
                        <p
                            class="ml-9 text-lg font-medium leading-6 text-gray-900"
                        >
                            Stay active
                        </p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-800">
                        Get a motivating Slack message every 45 minutes during
                        your working hours to take your eyes off the screen and
                        do some stretching.
                    </dd>
                </div>

                <div class="relative">
                    <dt>
                        <svg
                            class="absolute h-6 w-6 text-orange-500"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"
                            ></path>
                        </svg>
                        <p
                            class="ml-9 text-lg font-medium leading-6 text-gray-900"
                        >
                            Stay healthy
                        </p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-800">
                        Get regular reminders to eat some fruits and vegetables
                        between your mid-morning break and your afternoon snack.
                    </dd>
                </div>

                <div class="relative">
                    <dt>
                        <svg
                            class="absolute h-6 w-6 text-orange-500"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"
                            ></path>
                        </svg>
                        <p
                            class="ml-9 text-lg font-medium leading-6 text-gray-900"
                        >
                            Stay on track
                        </p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-800">
                        Let Kokko send you supportive notifications on your
                        favorit messaging app so you never forget to chase your
                        streaks.
                    </dd>
                </div>

                <div class="relative">
                    <dt>
                        <svg
                            class="absolute h-6 w-6 text-sky-500"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z"
                            ></path>
                        </svg>
                        <p
                            class="ml-9 text-lg font-medium leading-6 text-gray-900"
                        >
                            You name it
                        </p>
                    </dt>
                    <dd class="mt-2 ml-9 text-base text-gray-800">
                        These are just some examples. Kokko enables you to
                        choose the content, the timing and the channel for your
                        recurring notifications to individually support your
                        habit building!
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
